/* *{
    border: 1px solid red;
  } */
.form-control:focus,
.form-select:focus {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #212529 !important;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #ccc transparent #ccc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.is-loading-bar {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.is-loading-bar.is-loading {
  height: 80px;
}
.btn.btn-primary {
  background-color: #4c99d8 !important;
  border-color: #4c99d8 !important;
}
.btn.btn-primary:hover {
  background-color: #3489cf !important;
}
.btn.btn-success {
  background-color: #61cfb5 !important;
  border-color: #61cfb5 !important;
}
.btn.btn-success:hover {
  background-color: #46b99f !important;
}
